$cols: 12;
$gutter: 20px;

// Colors
$c-blue: #0b255a;
$c-gray-light: #e2e2e2;
$c-gray: #ccc;
$c-gray-dark: #333;
$c-white: #FFF;
$c-black: #000;
$c-green-light: #69a265;
$c-orange: #ea9731;

// Typography
$f-default: 'sans-serif';

// Units
$b-fsize: 14px;
$b-border: solid 2px $c-gray;


$neat-grid: (
  columns: $cols,
  gutter: $gutter,
);